@import "variables";

.logo {
  color: $white;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  background: rgba($black, 0.2);
  cursor: pointer;

  box-sizing: border-box;
}

::ng-deep {
  .mat-drawer-side {
    border-right: unset;
  }
}

.welcome-widget {
  color: $white;
  margin: 32px 16px;
  padding: 16px;
  background: rgba($black, 0.2);
  border-radius: 6px;

  &__title {
    display: block;
  }
}


