$gray-fa: #fafafa;
$gray-f8: #f8fafc;
$gray-ccc: #ccc;
$gray-777: #777;
$gray-333: #333;

$primary: #93a877;
$primary-dark: #385c05;
$primary-hover: #C1D0B5;

$accent: #FFF8DE;
$white: #fff;
$black: #000;

$tertiary: #a9f6fa;

$text-primary: #000;

$button-primary: #2e1d79;

$background-light-hover: #E7EBE1;
$background-hover: #d9d9d9;
$background-active: rgba(0, 0, 0, 0.16);

$danger: red;

$icon-color: #667085;
