@import "variables";

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 16px;

  &-back {
    color: $gray-777;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;

    mat-icon {
      margin-right: 8px;
    }
  }
}

app-product {
  max-width: 700px;
  display: block;
}
